@import url("https://fonts.font.im/css?family=Satisfy");
@import url("https://fonts.font.im/css?family=Josefin+Sans");
@import url("https://fonts.font.im/css?family=Kirang+Haerang");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#content {
  height: auto;
  width: auto;
  background-color: #f0e7c8;
  font-family: "Josefin Sans", sans-serif;
}

#content #parallax-header {
  height: 23vh;
  width: 100%;

  /*  this is where the magic happens:  */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#content #banner1 {
  height: auto;
  width: 100%;

  padding-top: 8vw;
  padding-bottom: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
}

#content #banner1 #bannerTitle {
  font-size: 4vw;
  font: bold;
  z-index: 1;
  padding-bottom: 40px;
  color: #e25c53;
  text-shadow: 2px 2px #e2b3ff;
}

#content #banner1 #bannerText {
  height: auto;
  width: 85%;
  z-index: 1;
  font-size: 1vw;
  line-height: 2vw;
  text-align: center;
  margin-bottom: 5vw;
}

#content #parallax-cards {
  height: 60vw;
  width: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-items: space-evenly;
}

#content #parallax-cards .verticalCardContainer {
  height: auto;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
}

#content #parallax-cards .card {
  height: 54vw;
  width: 42vw;
  background-color: rgb(236, 236, 236);
  border-radius: 2vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-shadow: 1vw 1vw 1vw 0 rgb(0 0 0 / 40%);
  padding-bottom: 2vw;
  transition: all 0.3s ease;
  z-index: 5;
}

#content #parallax-cards .card:hover {
  transform: translate(0, -2vw);
}

#content #parallax-cards .card .cardImage {
  height: 50%;
  width: 100%;
  border-top-right-radius: 2vw;
  border-top-left-radius: 2vw;
  font-size: large;

  object-fit: cover;
  object-position: 0% 0%;
  margin-bottom: 2vw;
}

#content #parallax-cards .card .cardTitle {
  height: 10%;
  width: 100%;

  color: #3b3b3b;
  font-size: 3vw;
  text-align: center;
  vertical-align: middle;
}

#content #parallax-cards .card .cardDescription {
  height: 32%;
  width: 85%;

  vertical-align: bottom;
  text-align: center;
  font-size: 1.1vw;
  line-height: 2vw;
}

i {
  position: absolute;
  background: #dcb806;
  opacity: 0.2;
  animation: animate1 5s linear infinite;
}

i:nth-child(even) {
  animation: animate2 5s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }

  10% {
    opacity: 0.2;
  }

  90% {
    opacity: 0.2;
  }

  100% {
    transform: translateY(-500%) rotate(400deg);
    opacity: 0;
  }
}

@keyframes animate2 {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }

  10% {
    opacity: 0.2;
  }

  90% {
    opacity: 0.2;
  }

  100% {
    transform: translateY(50%) rotate(-200deg);
    opacity: 0;
  }
}