@import url("https://fonts.font.im/css?family=Satisfy");
@import url("https://fonts.font.im/css?family=Josefin+Sans");
@import url('https://fonts.font.im/css?family=Kirang+Haerang');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#content {
  height: 8000px;
  width: auto;

  background-color: #ffd966;
  font-family: "Josefin Sans", sans-serif;
}

#content #banner {
  position: relative;
}


#content #banner #bannerImg1 {
  width: 100%;
  height: 93vh;
  object-fit: cover;
  object-position: 0% 0%;
  z-index: 0;
}

#content p {
  position: absolute;
  bottom: 0px;

  font-size: 5vw;
  color: #ffffff;
  z-index: 1;
}

/* section i {
  position: absolute;
  background: #ff2a2a;
  border-radius: 100%;
  animation: animate 5s linear infinite;
}

section i:nth-child(even) {
  background: transparent;
  border: 1px solid #ff2a2a;
} */

/* @keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(-2000%);
    opacity: 0;
  }
} */