@import url("https://fonts.font.im/css?family=Satisfy");
@import url("https://fonts.font.im/css?family=Josefin+Sans");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

#content {
  height: auto;
  width: auto;

  background-color: #ffd966;
}

#content #parallax-header {
  height: 93vh;
  width: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*  this is where the magic happens:  */
  background-attachment: fixed;
  background-image: url(../imgs/investment/lijiangbackground.jpg);

  background-position: center;
  background-size: cover;

  justify-content: center;
  align-items: center;
}

#content #parallax-header #title {
  font-size: 8vw;
  color: rgb(153, 245, 255);
  text-shadow: 0.3vw 0.3vw #6c0606;
  font-family: "Satisfy", cursive !important;
  font-weight: bolder;
  text-align: center;
}

#content #banner1 {
  height: auto;
  width: 100%;

  padding-top: 8vw;
  padding-bottom: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content #banner1 #bannerTitle {
  font-size: 4vw;
  font: bold;
  color: #74b9ff;
  text-shadow: 2px 2px #cd7cff;

  padding-bottom: 40px;
}

#content #banner1 #bannerText {
  height: auto;
  width: 85%;
  font-size: 1vw;
  line-height: 2vw;
  text-align: center;
  margin-bottom: 5vw;
}

.reveal {
  /* position: relative; */
  transform: translateY(150px) scale(1.2, 1.2);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0) scale(1, 1);
  opacity: 1;
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
#back_top {
  display: block;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 50px;
  right: 40px;
  border-radius: 10px 10px 10px 10px;
  text-decoration: none;
  display: none;
  background-color: #999999;
}

#back_top span {
  display: block;
  width: 60px;
  color: #dddddd;
  font-size: 40px;
  text-align: center;
  margin-top: 4px;
}

#back_top span:hover {
  color: #cccccc;
}

.showMore {
  height: 4vw;
  width: 20vw;

  font-size: 2vw;
  color: #ffffff;
  background-color: #b019b8;

  border-color: #000000;
  border-width: 0.1vw;
  border-radius: 2vw;

  box-shadow: 0.2vw 0.3vw 0 0 #e062e7;
  /* border-style: solid; */

  transition: all 0.6s ease;
}

.showMore:hover {
  color: #b019b8;
  background-color: #ffffff;
}
