@import url("https://fonts.font.im/css?family=Satisfy");
@import url("https://fonts.font.im/css?family=Josefin+Sans");
@import url("https://fonts.font.im/css?family=Kirang+Haerang");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

#content {
  height: auto;
  width: auto;

  background-color: #ffd966;
}

#content #parallax-header {
  height: 93vh;
  width: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*  this is where the magic happens:  */
  background-attachment: fixed;
  background-image: url(../imgs/mspot/m2.png);

  background-position: center;
  background-size: cover;

  justify-content: center;
  align-items: center;
}

#content #parallax-header #title {
  font-size: 8vw;
  color: rgb(255, 164, 246);
  text-shadow: 0.3vw 0.3vw #181918;
  font-family: "Satisfy", cursive !important;
  font-weight: bolder;
  text-align: center;
}

#content #banner1 {
  height: auto;
  width: 100%;

  padding-top: 8vw;
  padding-bottom: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content #banner1 #bannerTitle {
  font-size: 4vw;
  font: bold;
  color: #74b9ff;
  text-shadow: 2px 2px #cd7cff;

  padding-bottom: 40px;
}

#content #banner1 #bannerText {
  height: auto;
  width: 85%;
  font-size: 1vw;
  line-height: 2vw;
  text-align: center;
  margin-bottom: 5vw;
}

.header h1 {
  text-align: center;
  /* margin-top: 80px; */
  margin-top: 5.56vw;

  /* font-size: 60px; */
  font-size: 4.166vw;
}

.header p {
  text-align: center;
  /* font-size: 46px; */
  font-size: 3.194vw;

  /* margin-top: 70px; */
  margin-top: 4.86vw;
}

.main-ul li .left {
  width: 50%;
  height: 50vw;
  overflow: hidden;
}

.main-ul li .left img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.main-ul li .left img:hover {
  transform: scale(1.2);
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item .right {
  width: 50%;
  height: 50vw;
  /* padding: 70px; */
  padding: 4.86vw;
  background-color: #ffe2b8;
}

.right-tit {
  /* font-size: 48px; */
  font-size: 3.33vw;
  text-align: center;
  /* margin-bottom: 60px; */
  margin-bottom: 4.166vw;
  color: #7eb6eb;
}

.right p {
  /* font-size: 40px; */
  font-size: 2.77vw;
  font-weight: 100;
  /* margin-bottom: 40px; */
  margin-bottom: 2.77vw;
}

.main-ul li:nth-child(2n) .item {
  flex-direction: row-reverse;
}

.main-ul li:nth-child(2n) .item .right {
  /* padding-top: 200px; */
  padding-top: 13.88vw;
}

.footer {
  /* padding: 90px; */
  padding: 6.25vw;
  text-align: left;
  background-color: #ffe2b8;
}

.footer .right-tit {
  text-align: left;
  /* font-size: 60px; */
  font-size: 6.25vw;
  /* line-height: 100px; */
  line-height: 6.9vvw;
}

.footer p a {
  /* font-size: 30px; */
  font-size: 2.08vw;
  color: #7eb6eb;
}

.footer p a:hover {
  text-decoration: underline;
}

.showMore {
  height: 4vw;
  width: 20vw;

  font-size: 2vw;
  color: #ffffff;
  background-color: #b019b8;

  border-color: #000000;
  border-width: 0.1vw;
  border-radius: 2vw;

  box-shadow: 0.2vw 0.3vw 0 0 #e062e7;
  /* border-style: solid; */

  transition: all 0.6s ease;
}

.showMore:hover {
  color: #b019b8;
  background-color: #ffffff;
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-box .btn {
  width: 24rem;
  display: block;
  text-align: center;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 3rem;
  transition: all 0.2s;
  font-weight: 600;
}

.btn:hover {
  transform: scale(1.2);
}