@import url("https://fonts.font.im/css?family=Satisfy");
@import url("https://fonts.font.im/css?family=Josefin+Sans");
@import url("https://fonts.font.im/css?family=Kirang+Haerang");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.header {
  width: 100%;
  overflow: hidden;
  background-color: #ffe2b8;
  /* height: 1010px; */
  height: 70.14vw;
}

.header img {
  /* margin-top: 160px; */
  margin-top: 11.11vw;
  width: 100%;
  /* height: 600px; */
  height: 41.66vw;
  overflow: hidden;
}

.header h1 {
  text-align: center;
  /* margin-top: 80px; */
  margin-top: 5.56vw;

  /* font-size: 60px; */
  font-size: 4.166vw;
}

.header p {
  text-align: center;
  /* font-size: 46px; */
  font-size: 3.194vw;

  /* margin-top: 70px; */
  margin-top: 4.86vw;
}

.main-ul li .left {
  width: 50%;
  height: 50vw;
  overflow: hidden;
}

.main-ul li .left img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.main-ul li .left img:hover {
  transform: scale(1.2);
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item .right {
  width: 50%;
  height: 50vw;
  /* padding: 70px; */
  padding: 4.86vw;
  background-color: #ffe2b8;
}

.right-tit {
  /* font-size: 48px; */
  font-size: 3.33vw;
  text-align: center;
  /* margin-bottom: 60px; */
  margin-bottom: 4.166vw;
  color: #7eb6eb;
}

.right p {
  /* font-size: 40px; */
  font-size: 2.77vw;
  font-weight: 100;
  /* margin-bottom: 40px; */
  margin-bottom: 2.77vw;
}

.main-ul li:nth-child(2n) .item {
  flex-direction: row-reverse;
}

.main-ul li:nth-child(2n) .item .right {
  /* padding-top: 200px; */
  padding-top: 13.88vw;
}

.footer {
  /* padding: 90px; */
  padding: 6.25vw;
  text-align: left;
  background-color: #ffe2b8;
}

.footer .right-tit {
  text-align: left;
  /* font-size: 60px; */
  font-size: 6.25vw;
  /* line-height: 100px; */
  line-height: 6.9vvw;
}

.footer p a {
  /* font-size: 30px; */
  font-size: 2.08vw;
  color: #7eb6eb;
}

.footer p a:hover {
  text-decoration: underline;
}
